#app div.input {
    margin-bottom: 1em;
}

#app div.input div.label {
    min-width: 5em;
}

#app .field-frame {
    padding: 1px !important;
}

#app .next-field div.label {
    height: 2.63em;
}

#app .next-field .field-frame {
    border: 1px solid rgba(34,36,38,.15);
    width: 7em;
    height: 7em;
}

#app .close.icon {
    color: black;
}
